@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a href="https://localhost:44375/hangfire/recurring">https://localhost:44375/hangfire/recurring</a>
        <a href="https://crontab.guru/">Corn Expression</a>
    </div>
